<app-spinner *ngIf="stillLoading; else editRecordTemplate"></app-spinner>

<ng-template #editRecordTemplate>

    <!--<ngb-toast [class]="'bg-success text-light success-message'" [delay]="1000" (hide)="success = false" *ngIf="success">
        {{ 'save.success' | translate }}
    </ngb-toast>-->
    <!--<div *ngIf="success">
        <ngb-toast *ngFor="let toast of toastService.toasts" [class]="toast.options.classname" [delay]="toast.options.delay || 2000" (hide)="toastService.remove(toast)">
            {{ toast.content | translate }}
        </ngb-toast>
    </div>-->
    <app-toasts aria-live="polite" aria-atomic="true"
        [toasts]="toasts" (hideOutputEventEmitter)="hideSuccess($event)" *ngIf="success">
    </app-toasts>

    <div class="row">
        <div class="col-sm-12 col-md-12 mb-3 scrollbar">
            <div class="scroll-enable">
                <!--<app-editor [previousData]="record" (editorOutputEventEmitter)="save($event)"></app-editor>-->
                <div id="editor"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 pl-0">
            <button class="btn btn-outline-primary" [disabled]="submitted" (click)="save()">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="submitted"></span>
                {{ 'save.title' | translate }}
            </button>
            <!--<span *ngIf="success" class="text-muted ml-2"><small>{{'edit.record.successfully' | translate}}</small></span>-->
        </div>
    </div>
</ng-template>