<app-spinner *ngIf="stillLoading; else recordsTemplate"></app-spinner>

<ng-template #recordsTemplate>
  <div class="row">    
    <div class="col-sm-12 col-md-12 px-md-2 scrollbar">
      <div class="border border-light" *ngIf="records.length === 0; else showRecords">
        <span>{{ 'norecordsfound' | translate }}</span>
      </div>
      <ng-template #showRecords>
        <div class="border border-light scroll-enable">
          <pre>{{records | json}}</pre>
        </div>
    </ng-template>
    </div>
  </div>
</ng-template>