<app-spinner *ngIf="stillLoading; else recordsTemplate"></app-spinner>

<ng-template #recordsTemplate>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="border border-light" *ngIf="records.length === 0; else showRecords">
        <span>{{ 'norecordsfound' | translate }}</span>
      </div>
      <ng-template #showRecords>
        <app-pagination [records]="records" [page]="page" [pageSize]="pageSize"
          (pageOutputEventEmitter)="pageEventEmitter($event)">
        </app-pagination>
        <app-filter [records]="records"></app-filter>
        <div class="table-responsive border border-light scrollbar" overflow-y [maxOffset]="55">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th width="15%" class="text-custom">{{ 'record.list.table.header.date' | translate }}</th>
                <th width="20%" class="text-custom">{{ 'record.list.table.header.type' | translate }}</th>
                <th width="50%" class="text-custom">{{ 'record.list.table.header.header' | translate }}</th>
                <th width="15%" class="text-custom text-center">{{ 'record.list.table.header.actions' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let record of records | slice: (page - 1) * pageSize : (page - 1) * pageSize + pageSize;">
                <td class="text-custom">{{record.time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td class="text-custom">{{record.blocks[0].type}}</td>
                <td class="text-custom">{{record.blocks[0].data.text}}</td>
                <td class="text-center">
                  <button class="btn btn-outline-primary" (click)="preview(record.id)" ngbTooltip="{{ 'record.list.table.tooltip.preview' | translate }}">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </button>
                  <button class="btn btn-outline-primary" (click)="edit(record.id)" ngbTooltip="{{ 'record.list.table.tooltip.edit' | translate }}">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </button>
                  <button class="btn btn-outline-danger" (click)="delete(record.id)" ngbTooltip="{{ 'record.list.table.tooltip.delete' | translate }}">
                    <i class="fa fa-eraser" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </ng-template>
    </div>
  </div>
</ng-template>