<div class="py-3">

    <div class="row mb-3 text-left">
        <h5>{{ 'settings.title' | translate }}</h5>
    </div>

    <div class="row mb-3">
        <div class="col-sm-12 col-md-2 text-capitalize">Linguagem</div>
        <div class="col-sm-12 col-md-2 text-left">
            <select class="custom-select d-block w-100" (change)="onChangeLanguage($event)">
                <option value="">{{ 'choose' | translate }}</option>
                <option *ngFor="let language of languages" [value]="language.code" [selected]="settings.language === language.code">{{ language.label }}</option>
            </select>
            <!--<a class="p-1 font-size-sm text-custom" href="#" *ngFor="let lang of langList" (click)="useLanguage(lang.code)">
                {{ lang.label }}
            </a>-->
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-12 col-md-2 text-capitalize">activar/desactivar dark mode</div>
        <div class="col-sm-12 col-md-2 text-left">
            <input type="checkbox" id="switch" name="theme" (change)="onChangeDarkMode($event)" [value]="settings.darkMode" /> <label for="switch">Toggle</label>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-12 col-md-2 text-capitalize">Contacte-nos</div>
        <div class="col-sm-12 col-md-10 text-left">
            <a href="mailto:{{ 'contact.email' | translate }}">{{ 'contact.contactus' | translate }}</a>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-12 col-md-2 text-capitalize">Desde</div>
        <div class="col-sm-12 col-md-10 text-left text-capitalize">
            &copy; {{ year }}
        </div>
    </div>

  </div>

