<app-spinner *ngIf="stillLoading; else dashboardTemplate"></app-spinner>

<ng-template #dashboardTemplate>

  <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Planning your travels</h1>
    <p class="lead">Planning your travels</p>    
  </div>
  
  <div class="card-deck mt-3 mb-3">
    <div class="card mb-6">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Plan</h4>
      </div>
      <div class="card-body">        
        <h1 class="card-title"><small class="text-muted">Plan your travel here</small></h1>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Create</button>
      </div>
    </div>  
    <div class="card mb-6">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">View</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title"><small class="text-muted">View your plan travels</small></h1>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">View</button>
      </div>          
    </div>
  </div>

</ng-template>