<app-spinner *ngIf="stillLoading; else dashboardTemplate"></app-spinner>

<ng-template #dashboardTemplate>
  <div class="row">
    <div class="col-sm-12 col-md-6 px-md-2 scrollbar">
      <div class="scroll-enable">
        <app-editor></app-editor>
      </div>
      <button class="btn btn-outline-primary mt-2" (click)="save()">Save</button>
    </div>
    <div class="col-sm-12 col-md-6 px-md-2">
      <div class="border border-light" *ngIf="records.length === 0">
        <span>Nenhum registo encontrado</span>
      </div>
    </div>
  </div>
</ng-template>