<app-spinner *ngIf="stillLoading; else dashboardTemplate"></app-spinner>

<ng-template #dashboardTemplate>

  <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Planning your travels</h1>
    <p class="lead">Planning your travels</p>    
  </div>
  
  <!--<div class="card-deck mt-3 mb-3">
    <div class="card mb-6">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Mean Glycemia</h4>
      </div>
      <div class="card-body">        
        <h1 class="card-title">{{meanGlycemia}} mg/dl</h1>
      </div>          
    </div>  
    <div class="card mb-6">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">HbA1c</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title">{{hbA1c | percent:'2.2-2':'pt'}}</h1>
      </div>          
    </div>
  </div>-->

</ng-template>