/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
    position: relative;
    height: 100%;
    font-family: 'Montserrat', sans-serif;

    --bg: #fff;
    --bg-panel: #ebebeb;
    --color-headings: #0077ff;
    --color-text: #343a40;
    --color-border: #dee2ed;
}


html[data-theme='dark'] {
    --bg: #333333;
    --bg-panel: #434343;
    --color-headings: #3694ff;
    --color-text: #b5b5b5;
    --color-border: #434343;
}

body {
    font-size: 14px;
    margin-bottom: 60px; /* Margin bottom by footer height */
    /*background-color: var(--bg);
    color: var(--color-text);*/
    background-color: #fff;
    color: #343a40;
}

.font-size-gt {
    font-size: 16px;
}

.font-size-sm {
    font-size: 12px;
}

h1, h4, h5 {
    /*color: var(--color-headings) !important;*/
    /*color: #0077ff !important;*/
}

.container {
    max-width: 97%;
    /*background-color: var(--bg-panel);*/
}

#editor > .codex-editor > .codex-editor__redactor {
    padding-bottom: 2% !important;
}

#editor > .codex-editor > .codex-editor__redactor > .ce-block > .ce-block__content {
    margin: 0 0 auto !important;
}

#editor > .codex-editor > .ce-toolbar > .ce-toolbar__content {
    margin: 0 10% auto !important;
}

/* TODO: devia estar no header component, mas devido a um bug na criação da distribuição para produção o var() não é reconhecido */
.border-bottom {
    /*border-bottom: 1px solid var(--color-border) !important;*/
    border-bottom: 1px solid #dee2ed !important;
}

/* TODO: devia estar no header component, mas devido a um bug na criação da distribuição para produção o var() não é reconhecido */
.border-top {
    /*border-top: 1px solid var(--color-border) !important;*/
    border-top: 1px solid #dee2ed !important;
}

.text-custom {
    /*color: var(--color-text) !important;*/
    color: #343a40 !important;
}

/* editor js custom css */
#editor-preview h2.ce-header {
    color: darkblue;
    /*padding: 0 0 1em 0;*/
    /*line-height: 1.2em;*/
}

#editor-preview h6.ce-header {
    color: darkblue;
    border-bottom: 1px solid darkblue;
    padding: 1em 0 0 0;
    margin-bottom: 0;
}

.ce-delimiter:before {
    font-size: 30px;
}

.cdx-block {
    padding: .5em 0;
}
/**/