/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
    position: relative;
    height: 100%;
    font-family: 'Montserrat', sans-serif;

    --bg: #fff;
    --bg-panel: #ebebeb;
    --color-headings: #0077ff;
    --color-text: #333333;
}


html[data-theme='dark'] {
    --bg: #333333;
    --bg-panel: #434343;
    --color-headings: #3694ff;
    --color-text: #b5b5b5;
}

body {
    font-size: 14px;
    margin-bottom: 60px; /* Margin bottom by footer height */
    background-color: var(--bg);
    color: var(--color-text);
    
}

.font-size-gt {
    font-size: 16px;
}

.font-size-sm {
    font-size: 12px;
}

.container {
    max-width: 960px;
    background-color: var(--bg-panel);
}

h1, h4 {
    color: var(--color-headings);
}
